@import "../../assets//styles/variable.scss";
.playIcon {
  height: 18px;
  display: flex;
}
.barContainer {
  position: relative;
  height: 100%;
  width: 10px;
  margin-right: 5px;
  &:nth-child(1) {
    .bar {
      height: 40%;
    }
  }
  &:nth-child(2) {
    .bar {
      height: 100%;
    }
  }
  &:nth-child(3) {
    .bar {
      height: 70%;
    }
  }
}
.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $orange;
}

@keyframes moveBar1 {
  0% {
    height: 40%;
    opacity: 0.5;
  }
  60% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 40%;
    opacity: 0.5;
  }
}
@keyframes moveBar2 {
  0% {
    height: 100%;
    opacity: 1;
  }
  30% {
    height: 40%;
    opacity: 0.5;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
@keyframes moveBar3 {
  0% {
    height: 70%;
    opacity: 0.5;
  }
  20% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 70%;
    opacity: 0.5;
  }
}
.playIconOn {
  .barContainer {
    .bar {
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    &:nth-child(1) {
      .bar {
        animation-name: moveBar1;
      }
    }
    &:nth-child(2) {
      .bar {
        animation-name: moveBar2;
      }
    }
    &:nth-child(3) {
      .bar {
        animation-name: moveBar3;
      }
    }
  }
}
