@import "../../assets/styles/variable.scss";
.musicPlayer {
}
.container {
  width: 500px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 2px solid $black;
  background: $white;
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding: 20px;
    min-width: 290px;
  }
}
