$blue: #56a2f8;
$dark-blue: #0976f3;
$orange: #f3c221;
$white: #ffffff;
$lightbshadow: rgba(0, 0, 0, 0.15);
$black: #1f1e1e;
:export {
  $blue: $blue;
  $dark-blue: $dark-blue;
  $orange: $orange;
  $white: $white;
  $lightbshadow: $lightbshadow;
}
